<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SearchStudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveStudServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemoveStudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/DisplayServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudServlet</servlet-name>
        <url-pattern>/SearchStudServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveStudServlet</servlet-name>
        <url-pattern>/RemoveStudServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
